<form [formGroup]="statusFormGroup" (ngSubmit)="getStatusByCountry()">
  <label> country code </label><input name = "countryCode" formControlName = "countryCode" maxlength = "2" minlength = "2">
  <button type = "submit" *ngIf = "statusFormGroup.value.countryCode"> submit </button>
  <br/>
  <br/>
  TODAY'S CASES:
  <br/>
  confirmed: {{currentConfirmedAPI}}
  <br/>
  deaths: {{currentDeathsAPI}}
</form>

<div name = "countryList">
  <br/>
  DEFAULTS:
  (from MOCK file just to show the use of *ngFor)
  <br/>
  <ul *ngFor= "let country of countries">
    <li> {{country.code}} </li>
    <button (click)="showStatus(country.code)"> status </button>
  </ul>
</div>

<div name = "enteringCountry" *ngIf="selectedCountry">
  <p>
    confirmed: {{selectedCountry.confirmed}}
    <br/>
    deaths: {{selectedCountry.deaths}}
</div>
